.title {
    text-align: center;
    font-size: 3rem;
    margin-top: 5rem;
    color: var(--primary);

}

.container {
    width: 95%;
    max-width: 100rem;
    margin: 0 auto;
}

@media (min-width:768px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        align-items: center;
        gap: 2rem;
        margin-top: 5rem;
    }
}

.error {
    background-color: red;
    color: white;
    padding: 1rem;
    text-align: center;
    font-weight: 900;
    border-radius: 1rem;
    margin-top: 2rem;
    text-transform: uppercase;
}